@model ThreadViewModel
@{
    ViewData["Title"] = "Thread";
}
@functions{
    string GetCarroPictureSrc()
    {
        var files = Directory.GetFiles("wwwroot/img/carros");
        int randomIndex = new Random().Next(files.Length);
        string fileName = System.IO.Path.GetFileName(files[randomIndex]);
        return $"/img/carros/{fileName}";
    }

    bool IsUserAdmin()
    {
        if(User.Identity.IsAuthenticated){
            var userRole = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role);
            return userRole?.Value == UserConstants.AdminRole;
        }
        return false;
    }
}
<div id="thread-container">
    <section class="without-bottom-corners">
        <div class="header-flex-container">
            <h1 class="thread-title">@Model.ThreadName</h1>
            @if (!Model.IsClosed)
            {
                <button class="rounded-button" alt="Crear Post" onclick="location.href='@Url.Action("NewPost","Post", new { threadId = Model.ThreadId })'">
                    <span class="inner-buttom-text">Crear post</span>
                </button>
            }
            else
            {

            }
            @if(IsUserAdmin() && !Model.IsClosed)
            {
                <button class="rounded-button" alt="Cerrar hilo" onclick="location.href='@Url.Action("CloseThread", "Thread", new { threadId = Model.ThreadId })'">
                    <span class="inner-buttom-text">Cerrar hilo</span>
                </button>
            }
        </div>
    </section>
    <div id="thread-posts">
        @foreach (var message in Model.Posts)
        {
            <div class="post-box">
                <section class="post-container">
                    <div>
                        <div class="message-header">
                            <!-- User profile picture and name-->
                            <div class="user-container">
                                <div id="user-profile-picture">
                                    <img class="user-profile-image" src="@GetCarroPictureSrc()" />
                                </div>
                                <div id="user-name-container">
                                    <div>
                                        <span class="user-name-text">@@@message.UserName</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Post date -->
                        <div class="post-date-container user-element-right">
                            <div id="post-date" title="@message.PostDate.ToString("yyyy/MM/dd - HH:mm")">
                                <span class="post-date-text">
                                    Publicado @DateFormatHelper.FormatDate(message.PostDate)
                                </span>
                            </div>
                        </div>
                        <separator class="post-separator"></separator>
                        <div id="post-message">
                            <table class="message-table">
                                <tbody>
                                    <tr style="font-size: 1rem; width: 100%">
                                        <td style="font-size: 1rem; width: 100%">
                                            @Html.Raw(message.Message)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        }
    </div>
</div>
