@model ThemeViewModel
@{
    ViewData["Title"] = "Theme";
}

<div id="theme-container">
    <section class="without-bottom-corners">
        <div class="header-flex-container">
            <h1>@Model.ThemeTitle</h1>
            <button class="rounded-button" alt="Crear Nuevo Hilo" onclick="location.href='@Url.Action("NewThread","Thread", new { themeId = Model.ThemeId })'">
                <span class="inner-buttom-text">Nuevo Hilo</span>
            </button>
        </div>
    </section>

    <div class="thread-section-container">
        <h1 class="black-ribbon-title">Hilos</h1>
    </div>

    <section>
        @foreach (var thread in Model.Threads)
        {
            <div class="thread-item-container">
                <div class="thread-details">
                    <span class="thread-title">
                        <a asp-controller="Thread" asp-action="Index" asp-route-id="@thread.Id" style="text-decoration: none;">
                            @thread.Title
                        </a>
                    </span>
                    <div class="thread-metadata">
                        <a asp-controller="Thread" asp-action="Index" asp-route-id="@thread.Id" style="text-decoration: none;">
                            <span class="thread-title">
                                @thread.LastUpdateUsername - Actualizado @DateFormatHelper.FormatDate(thread.LastUpdatedAt)
                            </span>
                        </a>
                        <div style="display: flex; flex-direction: row; align-items: center; gap: 12px;">
                            <!-- Additional metadata if needed -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
        }
    </section>
</div>