@model ThemeViewModel
@{
    ViewData["Title"] = "Theme";
}

<div id="theme-container">
    <section id="theme-header">
        <div class="header-flex-container">
            <h1>@Model.ThemeTitle</h1>
            <button class="new-thread-button" alt="Crear Nuevo Hilo" onclick="location.href='@Url.Action("NewThread","Thread", new { themeId = Model.ThemeId })'">
                <span class="inner-buttom-text">Nuevo Hilo</span>
            </button>
        </div>
    </section>

@*     <div class="thread-section-container">
        <h1 class="black-ribbon-title">Hilos</h1>
    </div> *@

    <section>
        @foreach (var thread in Model.Threads)
        {
            <div class="thread-item-container">
                <div class="thread-details">
                    <a style="text-decoration: none;" asp-controller="Thread" asp-action="Index" asp-route-id="@thread.Id">
                        <span class="thread-title">
                            @thread.Title
                        </span>
                    </a>
                    
                    <div class="thread-metadata">
                        <a style="text-decoration: none" asp-controller="Thread" asp-action="Index" asp-route-id="@thread.Id">
                            <span class="thread-metadata-text">
                                Actualizado @DateFormatHelper.FormatDate(thread.LastUpdatedAt)
                            </span>
                        </a>
                    </div>
                </div>
                <div class="message-section">
                    <img src="~/img/generic/citas.svg"/>
                    <div class="total-messages">
                        <a style="color: #a4a4a4; text-decoration: none;" asp-controller="Thread" asp-action="Index" asp-route-id="@thread.Id" style="text-decoration: none;">
                            <span class="message-counter">
                                @thread.TotalMessages
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        }
    </section>
</div>
