@model IList<Theme>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@foreach (var tema in Model)
{
    <li>@tema.Id</li>
    <li>@tema.Name</li>
    <li>@tema.Description</li>
    <li>@tema.CreatedAt</li>
}
